@model RandomUserApp.Models.Person

@{
	ViewData["Title"] = "Criar Usuário";
}

<h1 class="text-center">Criação de Usuários</h1>

<form id="myForm" asp-controller="GenerateUser" asp-action="Create" method="Post">
	<div class="row">
		<div class="col-2 mb-2">
			@if (ViewBag.UserGenerated != null && ViewBag.UserGenerated)
			{
				<button type="submit" asp-action="GetRandomUser" class="btn btn-secondary">Gerar Novo Usuário</button>
			}
			else
			{
				<button type="submit" asp-action="GetRandomUser" class="btn btn-secondary">Gerar Usuário</button>
			}
		</div>
		@if (ViewBag.UserGenerated != null && ViewBag.UserGenerated || ViewBag.Update != null && ViewBag.Update)
		{
			@if (ViewBag.Update != null && ViewBag.Update)
			{
				<input asp-for="ID" type="hidden" name="ID" />
			}
			<div class="text-center">
				<img class="image-display" src="@Url.Content(Model.Image)" alt="Image" />
			</div>
			<input asp-for="Image" type="hidden" />
			<div class="col-12 mb-2">
				<label asp-for="FirstName" class="mb-1">Nome:</label>
				<input asp-for="FirstName" type="text" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="col-12 mb-2">
				<label asp-for="LastName" class="mb-1">Sobrenome:</label>
				<input asp-for="LastName" type="text" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="col-12 mb-2">
				<label asp-for="PostCode" class="mb-1">CEP:</label>
				<input asp-for="PostCode" type="number" class="form-control" />
				<span asp-validation-for="PostCode" class="text-danger"></span>
			</div>
			<div class="col-12 mb-2">
				<label asp-for="Address" class="mb-1">Endereço:</label>
				<input asp-for="Address" type="text" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="col-12 mb-2">
				<label asp-for="Gender" class="mb-1">Gênero:</label>
				<input asp-for="Gender" type="hidden"/>
				@if (Model.Gender == RandomUserApp.Utilities.Gender.Male)
				{
					<input type="text" class="form-control" value="Masculino" disabled/>
				}
				else
				{
					<input type="text" class="form-control" value="Feminino" disabled/>
				}
				<span asp-validation-for="Gender" class="text-danger"></span>
			</div>

			@if (ViewBag.Update != null && ViewBag.Update)
			{
				<div class="d-flex justify-content-end mt-3">
					<button type="submit" asp-action="Update" class="btn btn-secondary">Atualizar</button>
				</div>
			}
			else
			{
				<div class="d-flex justify-content-end mt-3">
					<button type="submit" class="btn btn-secondary">Salvar</button>
				</div>
			}
		}
		@if (ViewBag.ErrorMessage != null)
		{
			<div class="alert alert-warning text-center mt-3" role="alert">
				@ViewBag.ErrorMessage
			</div>
		}
		@if (ViewBag.Saved != null && ViewBag.Saved)
		{
			<div class="alert alert-success text-center mt-3" role="alert">
				Usuário cadastrado com sucesso!
			</div>
		}
		@if (ViewBag.Updated != null && ViewBag.Updated)
		{
			<div class="alert alert-success text-center mt-3" role="alert">
				Usuário atualizado com sucesso!
			</div>
		}
	</div>
</form>

<style>
	.image-display {
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}
</style>